.settings
logs/*.log
settings.xml
.netbeans
tests/results/*
modules/cbvalidation/*
coldbox/*
testbox/*
artifacts/*
apidocs/docbox/*
workbench/build.number
build/*
apidocs/cbmarkdown-APIDocs

modules/cbjavaloader
modules/cbemoji

workbench/**